<h1>Listing forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Here Are Some Forms To Fill out!</th>
      <th><a href="/schools/">Schools</a></th>
      <th><a href="/life_events/">Life Events</a></th>
    </tr>
    </tr>
  </thead>


<br>

<%= link_to 'New Form', new_form_path %>
